<% @title="LA Tech Events" %>
<% @events.each do |event| %>
<div class="row-fluid">
	<div class="span12">
		<b>
		<%= event.starttime.to_date().strftime("%A %B %d, %Y") %>
		<% if event.starttime.to_date() != event.endtime.to_date() %>
			<%=	"to " + event.endtime.to_date().strftime("%B %d, %Y") %>
		<% end %>
		</b>
		<h3><%= link_to event.name, event %></h3>
		<hr>
	</div>
</div>
<% end %>

<br />


