<% @title="LA Tech Events" %>
<table>
<% @events.each do |event| %>
<h3><%= link_to event.name, event %></h3>
starttime: <%= event.starttime %>
endtime: <%= event.endtime %>
<hr>
<% end %>
</table>

<br />


